venv
app-keys.json
json formatted request responses for write up.json
kimd3_project.rtf
portfolio-kimd3-key.json
portfolio-kimd3.postman_collection.json
portfolio-kimd3.postman_environment.json
~$md3_project.rtf
.idea/